section{
    display: flex;
    flex-direction: column;
}

.strength{
    display: flex;
    gap: 0.8rem;
}
.box{
    width: 1rem;
    height: 2.8rem;
    border: 2px solid hsl(252, 11%, 91%);
    background: none;
}


::ng-deep .mdc-checkbox__background{
    border: 2px solid red;
  }
label{
    color: #E6E5EA;
}
  .track{
    background-color: #A4FFAF;
    height: 8px;
    position: absolute;
    z-index: 1;
    // top: 3px;
  }
.danger-fill{
    display: flex;
    height: 100%;
    border: none;
    background-color: #F64A4A;
}
.warning-fill{
    display: flex;
    height: 100%;
    border: none;
    background-color: #FB7C58;
}
.normal-fill{
    display: flex;
    height: 100%;
    border: none;
    background-color: #F8CD65;
}
.green-fill{
    display: flex;
    height: 100%;
    border: none;
    background-color: #A4FFAF;
}


// 
.slider-container {
    width: 100%;
    position: relative;
    height: 8px;
    background-color: #18171F;
    // display: flex;
    // align-items: center;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    background: #1c1c1f;
    outline: none;
    border-radius: 4px;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background: #E6E5EA;
    border: 2px solid #1c1c1f;
    border-radius: 50%;
    cursor: pointer;
  }
  

input[type="range"]::-webkit-slider-thumb:hover{
    border: 2px solid #A4FFAF;
    background-color: #18171F;
}

input[type="range"]{
    z-index: 2;
    background-color: transparent;
    position: absolute;
}
input[type="checkbox"]:checked{
  border-color: hsl(127, 100%, 82%);
  background-color: hsl(127, 100%, 82%);
}
section{
  margin: 2rem 0;
}