<div class="container">
    <div class="title">Password Generator</div>
    <div class="generated-passwrd txt-white">
        <span>{{dataStateService.generatedPwd}}</span>
        <button mat-icon-button>
            <mat-icon class="copy lighted">file_copy</mat-icon>
        </button>
    </div>
    <div class="configurator-container">
        <div class="password-length">
            <label for="character-length"></label>
        </div>
        <mat-slider class="lighted"
            [disabled]="false"
            [max]="100"
            [min]="0"
            [step]="1"
            [showTickMarks]="true">
        <input matSliderThumb [(ngModel)]="dataStateService.pwdStrength" #slider>
    </mat-slider>
        <section class="example-section">
            <mat-checkbox
            [(ngModel)]="dataStateService.pwdChecker.upperCase"
            (ngModelChange)="update()">
                Includes Uppercase Letters
            </mat-checkbox>
            <mat-checkbox
                [(ngModel)]="dataStateService.pwdChecker.lowerCase"
                (ngModelChange)="update()">
                Includes Lowercase Letters
            </mat-checkbox>
            <mat-checkbox
                [(ngModel)]="dataStateService.pwdChecker.number"
                (ngModelChange)="update()">
                Includes Numbers
            </mat-checkbox>
            <mat-checkbox 
                [(ngModel)]="dataStateService.pwdChecker.symbol"
                (ngModelChange)="update()">
                Includes Symbols
            </mat-checkbox>
          </section>
        <button mat-button class="generate-btn">
            GENERATE 
            <img src="assets/images/icon-arrow-right.svg" alt="" srcset="">
        </button>
    </div>
</div>