<div class="container">
    <h1>Password Generator</h1>
    <div class="password-field">
      <span class="password-display">
        <span #password class="password-placeholder">{{dataStateService.generatedPwd}}</span>
      </span>

      <div class="copy-wrapper">
        <span class="copied-text"></span>
        <!-- <button [cdkCopyToClipboard]="password.innerText" class="copy-btn"> -->
        <button (click)="openSnackBar()" class="copy-btn">
          <img src="./assets/images/icon-copy.svg" alt="Copy password">
        </button>
      </div>
    </div>

    <div class="password-settings">
      <div class="char-length">
        <p>Character Length</p>
        <span class="char-count">{{dataStateService.pwdLength}}</span>
      </div>
      <div class="slider-container">
        <div class="track" [ngStyle]="{'width': (dataStateService.pwdLength * 5) + '%'}">
        </div>
        <input type="range" [(ngModel)]="dataStateService.pwdLength" id="volume" name="volume" min="0" max="20" class="slider" id="mySlider">
      </div>
    <!-- <input type="range" [(ngModel)]="dataStateService.pwdLength" id="volume" name="volume" min="0" max="20" /> -->
       <section class="example-section">
        <mat-checkbox
        [(ngModel)]="dataStateService.pwdChecker.upperCase"
        (ngModelChange)="update()"
        color="primary" style="border-color: red;">
            Includes Uppercase Letters
        </mat-checkbox>
        <mat-checkbox
            [(ngModel)]="dataStateService.pwdChecker.lowerCase"
            (ngModelChange)="update()"
            color="primary">
            Includes Lowercase Letters
        </mat-checkbox>
        <mat-checkbox
        color="primary"
            [(ngModel)]="dataStateService.pwdChecker.number"
            (ngModelChange)="update()">
            Includes Numbers
        </mat-checkbox>
        <mat-checkbox 
            [(ngModel)]="dataStateService.pwdChecker.symbol"
            (ngModelChange)="update()"
            color="primary">
            Includes Symbols
        </mat-checkbox>
      </section>

      <div class="strength-box">
        <span class="strength-label">Strength</span>
        <div class="strength-rating">
          <span>{{strength}}</span>       
          <div class="strength">
            <span class="box">
                @if(dataStateService.pwdStrength <=24 || dataStateService.pwdStrength>0){
                    <span [class]="strengthClass"></span>
                }
            </span>
            <span class="box">
                @if(dataStateService.pwdStrength > 24 && dataStateService.generatedPwd.length > 7){
                    <span [class]="strengthClass"></span>
                }
            </span>
            <span class="box">
                @if(dataStateService.pwdStrength > 48 && dataStateService.generatedPwd.length > 7){
                    <span [class]="strengthClass"></span>
                }
            </span>
            <span class="box">
                @if(dataStateService.pwdStrength > 74 && dataStateService.generatedPwd.length > 11){
                    <span [class]="strengthClass"></span>
                }
            </span>
        </div>
        </div>
      </div>

      <button 
      (click)="generatePwd()" class="generate-btn" type="submit">
        <span>Generate</span>
        <img src="assets/images/icon-arrow-right.svg" alt=" arrow icon" srcset="">
      </button>
    </div>