section{
    display: flex;
    flex-direction: column;
}
.muted-white{
    color: #817D92;
}
.lighted{
    color: #A4FFAF;
}
.generated-passwrd{
    display: flex;
    justify-content: space-between;
}
.password-strength{
    display: flex;
}
.strength{
    display: flex;
    gap: 6px;
}
.box{
    width: 10px;
    height:28px;
    border: 1px solid white;
}