section{
    display: flex;
    flex-direction: column;
}
.muted-white{
    color: #817D92;
}
.lighted{
    color: #A4FFAF;
}
.generated-passwrd{
    display: flex;
    justify-content: space-between;
}
.password-strength{
    display: flex;
}
.strength{
    display: flex;
    gap: 0.8rem;
}
.box{
    // display: flex;
    // width: 10px;
    // height:28px;
    // border: 1px solid white;
    width: 1rem;
    height: 2.8rem;
    border: 2px solid hsl(252, 11%, 91%);
    background: none;
}



.danger-fill{
    display: flex;
    height: 100%;
    border: none;
    background-color: red;
}
.warning-fill{
    display: flex;
    height: 100%;
    border: none;
    background-color: gold;
}
.green-fill{
    display: flex;
    height: 100%;
    border: none;
    background-color: green;
}