<div class="container">
    <h1>Password Generator</h1>
    <div class="password-field">
      <span class="password-display">
        <span #password class="password-placeholder">{{dataStateService.generatedPwd}}</span>
      </span>

      <div class="copy-wrapper">
        <span class="copied-text"></span>
        <button [cdkCopyToClipboard]="password.innerText" class="copy-btn">
          <img src="./assets/images/icon-copy.svg" alt="Copy password">
        </button>
      </div>
    </div>

    <div class="password-settings">
      <div class="char-length">
        <p>Character Length</p>
        <span class="char-count">{{dataStateService.pwdLength}}</span>
      </div>
    <input type="range" [(ngModel)]="dataStateService.pwdLength" id="volume" name="volume" min="0" max="20" />
       <section class="example-section">
        <mat-checkbox
        [(ngModel)]="dataStateService.pwdChecker.upperCase"
        (ngModelChange)="update()">
            Includes Uppercase Letters
        </mat-checkbox>
        <mat-checkbox
            [(ngModel)]="dataStateService.pwdChecker.lowerCase"
            (ngModelChange)="update()">
            Includes Lowercase Letters
        </mat-checkbox>
        <mat-checkbox
            [(ngModel)]="dataStateService.pwdChecker.number"
            (ngModelChange)="update()">
            Includes Numbers
        </mat-checkbox>
        <mat-checkbox 
            [(ngModel)]="dataStateService.pwdChecker.symbol"
            (ngModelChange)="update()">
            Includes Symbols
        </mat-checkbox>
      </section>

      <div class="strength-box">
        <span class="strength-label">Strength</span>
        <div class="strength-rating">
          <span class="strength-rating-text"></span>
          <div class="strength">
            <span class="box">
                @if(dataStateService.pwdStrength > 0){
                    <span [class]="strengthClass"></span>
                }
            </span>
            <span class="box">
                @if(dataStateService.pwdStrength > 25){
                    <span [class]="strengthClass"></span>
                }
            </span>
            <span class="box">
                @if(dataStateService.pwdStrength > 50){
                    <span [class]="strengthClass"></span>
                }
            </span>
            <span class="box">
                @if(dataStateService.pwdStrength > 75){
                    <span [class]="strengthClass"></span>
                }
            </span>
        </div>
        </div>
      </div>

      <button (click)="generatePwd()" class="generate-btn" type="submit">
        <span>Generate</span>
        <svg 
          width="12" 
          height="12" 
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
        >
          <path 
            fill="#24232C" 
            d="m5.106 12 6-6-6-6-1.265 1.265 3.841 3.84H.001v1.79h7.681l-3.841 3.84z"/>
        </svg>
      </button>
    </div>
  </div>